.spend_table {
	border: 1px solid black;
	width: 100%;
}

.spend_table th,
td {
	border: 1px solid black;
	padding: 3px;
	text-align: center;
}

#prof_img {
	width: 50px;
	height: 50px;
}

.buttons {
	height: 50px;
}

.control_panel {
	position: relative;
	width: 50%;
	height: 20%;
	margin-bottom: 3%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.buttons_form {
	display: flex;
	gap: 10px;
}

.spends {
	width: 60%;
}

.spend_stats {
	position: absolute;
	left: 61%;
	width: 20%;
	top: 5%;
	height: 40%;
	border: 1px solid black;
	text-align: center;
}