{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Your spends</title>
    <link type="text/css" href="{% static 'spends/style.css' %}" rel="stylesheet">
</head>

<body>
    <div class="control_panel">
        <button class="buttons">Show categories</button>
        <button class="buttons">Sort by categories</button>
        <button id="add_button">+</button>
    </div>
    <div class="spends">
        <div class="spend">
            <div class="spend_text_block">
                <p>Buy some groceries</p>
            </div>
            <div class="spend_time_block">
                <p>10:00 27.11.2024</p>
            </div>
            <div class="spend_category_block">
                <a class="spend_category">Food</a>
            </div>
            <div class="edit_btn_block">
                <button class="edit_btn">Edit</button>
            </div>
            <div class="remove_btn_block">
                <button class="remove_btn">Remove</button>
            </div>
            <div class="spend">
                <div class="spend_text_block">
                    <p>Dance camp</p>
                </div>
                <div class="spend_time_block">
                    <p>20:35 30.11.2024</p>
                </div>
                <div class="spend_category_block">
                    <a class="spend_category">Sport</a>
                </div>
                <div class="edit_btn_block">
                    <button class="edit_btn">Edit</button>
                </div>
                <div class="remove_btn_block">
                    <button class="remove_btn">Remove</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>