/* General Styles */
body {
    background-color: #F0F0F8;
}

.control_panel {
    position: fixed;
    background-color: #B8E1D9;
    width: 98.5%;
    height: 10%;
    border: 2px solid #2D554A;
}

.buttons {
    margin-left: 1%;
    margin-top: 0.3%;
    width: 7%;
    height: 90%;
    background-color: #237C6C;
    font-size: 100%;
    word-wrap: break-word;
    border: none;
    color: #5EBAA6;
    -webkit-text-stroke: 0.3px #FFFFFF;
}

#add_button {
    float: right;
    width: 7%;
    height: 90%;
    margin: 0.3%;
    font-size: 250%;
    background-color: #5EBAA6;
    color: #237C6C;
    border: none;
}

/* Meta Information Block Styles */
.meta_info {
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding: 0 10px;
    margin-bottom: 10px;
    color: #A0A0A0;
    font-size: 25px;
}

.meta_name,
.meta_amount,
.meta_time,
.meta_cat {
    width: 20%;
    text-align: center;
}

/* Spend Section */
.spends {
    position: absolute;
    top: 17%;
    /* Reduced from 25% to bring it closer to the control panel */
    left: 1%;
    right: 1%;
}

.spend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 15px;
    position: relative;
    background-color: #B8E1D9;
    box-sizing: border-box;
    min-height: 80px;
}

/* Spend Block */
.spend_text_block,
.spend_amount_block,
.spend_time_block,
.spend_category_block,
.edit_btn_block,
.remove_btn_block {
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spend_text_block {
    width: 20%;
    font-size: 150%;
    word-wrap: break-word;
    border-right: 3px solid #2D554A;
}

.spend_amount_block {
    width: 20%;
    font-size: 150%;
    word-wrap: break-word;
    border-right: 3px solid #2D554A;
}

.spend_time_block {
    width: 15%;
    font-size: 150%;
    border-right: 3px solid #2D554A;
}

.spend_category_block {
    width: 10%;
    font-size: 150%;
    border-right: 3px solid #2D554A;
}

.edit_btn_block,
.remove_btn_block {
    width: 9%;
    display: flex;
    justify-content: center;
}

.edit_btn,
.remove_btn {
    width: 100%;
    height: 100%;
    font-size: 125%;
    background-color: #237C6C;
    color: #5EBAA6;
    border: none;
    -webkit-text-stroke: 0.1px #FFFFFF;
}

p,
a {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}